<div class="form-group">
    <label for="title">Name of Hike</label>
    <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
    <label for="length">Length of hike</label>
    <input required value="<%= article.length %>" type="number" name="length" id="title" class="form-control">
</div>
<div class="form-group">
    <label for="difficulty">Difficulty</label>
    <input required value="<%= article.difficulty %>" type="text" name="difficulty" id="title" class="form-control">
</div>
<div class="form-group">
    <label for="distanceFromDowntown">distance from Downtown</label>
    <input required value="<%= article.distanceFromDowntown %>" type="number" name="distanceFromDowntown" id="title" class="form-control">
</div>
<div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control"><%= article.description %></textarea>
</div>


<button type="submit" class="btn btn-success">Save</button>
<a href="/" class="btn btn-danger">Cancel</a>