<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Hikes in Denver</title> 
    </head>
    <header>
        <%- include('_header') %>
    </header>
    <body style="background-image: url(https://images.unsplash.com/photo-1612015746449-99fffdd8977f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2534&q=80);
                 background-size: cover">
        <div class="container">
            <div class="card bg-light border-dark mt-4 mb-4" style="opacity: .9;">
                <h1 class="mt-2 mb-1 card-title"><%= article.title %></h1>
                <div class="text-muted mb-2 card-subtitle" style="font-size: small;">Hike was posted on <%= article.createdAt.toLocaleDateString() %></div>
                <div>Hike legnth is <%= article.length %> miles</div>
                <div>The hike is rated as <%= article.difficulty %></div>
                <div class="mb-4">The hike is <%= article.distanceFromDowntown %> miles from downtown</div>
                <div><%= article.description %></div>
            </div>



            <div class="card bg-light border-dark mb-4" style="opacity: .9;">
                <h1 class="mt-2 mb-4">Reviews</h1>
                <% for (let i = 0; i < article.review.length; i++ ){ %>
                    <p><%= article.review[i] %> </p>
                <% }; %>
                </div>
            




            <a href="/" class="btn btn-outline-primary ">Home</a>
            <a href="/articles/edit/<%= article.id %>" class="btn btn-outline-secondary">Edit Hike</a>
        </div>
    </body>
</html>